* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  margin-bottom: 20px;
  margin-right: 20px;

  width: 330px;
  height: 40px;

  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #3b3b3b;

  background-color:  rgba(177, 128, 203, 0.6);
  border-radius: 5px;
  border: none;

  transition: 250ms;
}

#datetime-picker:focus {
  outline: 3px solid  rgba(177, 128, 203, 0.6);
  border: 3px solid #fff;
  background-color:  rgba(177, 128, 203, 0.6);
}

.timer {
  padding: 20px 30px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-size: 18px;
  letter-spacing: 0.04em;
  color: #3b3b3b;

  background-color: rgba(177, 128, 203, 0.6);

  border-radius: 5px;
}

.value {
  position: relative;
  padding: 3px;
  background-color:  rgba(177, 128, 203, 0.6);
  border-radius: 5px;
  font-size: 24px;
}